@charset "UTF-8";

@font-face {
  font-family: "BarlowCondensed";
  font-display: swap;
  src: url("../fonts/BarlowCondensed-Medium.woff") format("woff"), url("../fonts/BarlowCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BarlowCondensed";
  font-display: swap;
  src: url("../fonts/BarlowCondensed-Regular.woff") format("woff"), url("../fonts/BarlowCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header.scrolled,
.header.active {
  height: 80px;
}

.header.scrolled:before,
.header.active:before {
  background-color: rgba(20, 24, 42, 0.7);
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 49;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 139px;
          flex: 0 0 139px;
  z-index: 51;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.54701%;
          flex: 0 0 58.54701%;
}

.header__social {
  position: relative;
  max-width: 96px;
  z-index: 51;
}

.menu__body {
  position: relative;
  z-index: 51;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin: 0px 30px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.17px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  position: relative;
  display: none;
  width: 50px;
  height: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  z-index: 51;
}

.icon-menu span {
  display: block;
  width: 23px;
  height: 23px;
  border: 6px solid #fff;
  border-radius: 5px;
}

.social {
  height: 18px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
}

.social__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  margin: 0px 22px 0px 0px;
}

.social__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.social__link svg {
  max-width: 100%;
  fill: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.footer {
  padding: 30px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 168px;
          flex: 0 0 168px;
  margin: 0px 30px 0px 0px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__desc {
  max-width: 233px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  color: #1a1639;
  line-height: 19px;
}

.no-webp .hero{
  background-image: url(../img/hero/hero-bg.png); }

.hero {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__cont {
  text-align: center;
  padding: 200px 0px 135px 0px;
}

.hero__title {
  max-width: 964px;
  text-align: center;
  margin: 0px auto 44px auto;
}

.hero__desc {
  max-width: 754px;
  font-size: 20px;
  margin: 0 auto 97px auto;
}

.title {
  color: #1a1639;
  font-family: "BarlowCondensed";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.26px;
}

.title_big {
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 0.38px;
}

.title_white {
  color: #ffffff;
}

.desc {
  color: #1a1639;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  line-height: 141.17647%;
}

.desc_white {
  color: #ffffff;
}

.desc__bold {
  font-weight: 700;
  letter-spacing: 0.17px;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #23b565;
  color: #ffffff;
  font-family: "SourceSansPro";
  font-size: 18px;
  font-weight: 600;
  padding: 18px 56px 20px 56px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn_small {
  padding: 26px 70px 25px 70px;
}

.scroll-down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 123px;
}

.scroll-down:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 90px;
  bottom: 0;
  background-color: #ffffff;
}

.scroll-down__mouse {
  width: 23px;
  height: 23px;
}

.scroll-down__mouse img {
  max-width: 100%;
}

.benefits {
  padding: 70px 0 30px 0;
}

.benefits__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.benefits__desc {
  max-width: 735px;
  text-align: center;
  margin: 0 auto 80px auto;
}

.no-webp .benefits__body{
  background-image: url(../img/benefits/bg.png); }

.benefits__body {
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__block {
  position: relative;
  width: 50%;
}

.benefits__item {
  position: absolute;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: #1a1639;
  margin: 0px 0px 50px 0px;
  padding: 0px 0px 0px 55px;
}

.benefits__item:before,
.benefits__item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
  border-radius: 50%;
}

.benefits__item:before {
  width: 45px;
  height: 45px;
  opacity: 0.3;
}

.benefits__item:after {
  width: 15px;
  height: 15px;
  left: 15px;
}

.benefits__item_1 {
  left: 0;
  top: 48%;
}

.benefits__item_2 {
  max-width: 150px;
  left: 54%;
  top: 12%;
}

.benefits__item_3 {
  max-width: 140px;
  left: 56%;
  top: 46%;
}

.benefits__item_4 {
  max-width: 230px;
  top: 28%;
  left: 0;
}

.benefits__item_5 {
  max-width: 140px;
  top: 8%;
  left: 29%;
}

.benefits__item_6 {
  max-width: 140px;
  right: 0;
}

.benefits__item_sad:before {
  border: 6px solid #fd2a55;
}

.benefits__item_sad:after {
  background-color: #fd2a55;
}

.benefits__item_happy:before {
  border: 6px solid #23b565;
}

.benefits__item_happy:after {
  background-color: #23b565;
}

.benefits__img {
  opacity: 0;
  visibility: hidden;
}

.benefits__img img {
  max-width: 100%;
}

.ai-benefits {
  padding: 80px 0px 80px 0px;
}

.ai-benefits__title {
  max-width: 585px;
  text-align: center;
  margin: 0px auto 31px auto;
}

.ai-benefits__desc {
  max-width: 564px;
  text-align: center;
  margin: 0px auto 113px auto;
}

.ai-benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-benefits__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.no-webp .card-ai{
  background-image: url(../img/rays.png); }

.card-ai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 34px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.card-ai_big .card-ai__img img {
  width: 144px;
}

.no-webp .card-ai__img{
  background-image: url(../img/stars.png); }

.card-ai__img {
  width: 100%;
  margin: 0px 0px 40px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-ai__img img {
  width: 128px;
}

.card-ai__desc {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #1a1639;
  text-align: center;
}

.card-ai__desc span {
  color: #fd2a55;
  font-weight: 700;
}

.no-webp .test-drive{
  background-image: url(../img/test-drive/bg.png); }

.test-drive {
  padding: 100px 0px 130px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.test-drive__title {
  max-width: 594px;
  margin: 0 auto 30px auto;
}

.test-drive__desc {
  max-width: 591px;
  margin: 0 auto 64px auto;
}

.no-webp .quiz{
  background-image: url(../img/test-drive/bg.png); }

.quiz {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.item-quiz {
  display: none;
  text-align: right;
}

.item-quiz.active {
  display: block;
}

.item-quiz__title {
  font-size: 18px;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

.item-quiz__title span {
  font-size: 23px;
}

.item-quiz__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.item-quiz__option {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 0px 0px 15px 0px;
}

.item-quiz__option span {
  color: #1a1639;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.item-quiz__check {
  width: 15px;
  height: 15px;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}

.no-webp .feedback{
  background-image: url(../img/feedback/bg.png); }

.feedback {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.feedback__title {
  max-width: 777px;
  text-align: center;
  margin: 0px auto 60px auto;
}

.feedback__form {
  max-width: 970px;
  margin: 0 auto;
}

.feedback__reply {
  display: none;
  background-color: #fff;
  border-radius: 12px;
  padding: 45px 90px;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.feedback__subtitle {
  max-width: 503px;
  color: #1a1639;
  font-family: "BarlowCondensed";
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.44px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.feedback__subtitle_red {
  color: #de0f39;
}

.form {
  background-color: #ffffff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 90px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__title {
  margin: 0 auto 52px auto;
}

.form__input {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 73px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #1a1639;
  padding: 0px 0px 0px 25px;
  margin: 0px 0px 25px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Lato";
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.form__input:after {
  content: "";
  position: absolute;
  background: red;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
}

.form__input.focus {
  border-color: #b087d7;
}

.form__input.err {
  border-color: #fd2a55;
}

.form__submit {
  margin: 0px 0px 25px 0px;
}

.form__mark {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__mark.err p {
  color: #de0f39;
}

.form__mark p {
  max-width: 338px;
  color: #1a1639;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__checkbox {
  margin: 2px 12px 0px 0px;
}

.no-webp .reply{
  background-image: url(../img/feedback/confetti.png); }

.reply {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reply__title {
  margin: 0px auto 30px auto;
}

.reply__txt {
  max-width: 323px;
  font-family: "Lato";
  color: #1a1639;
  font-size: 18px;
  font-weight: 400;
  line-height: 144.44444%;
  text-align: center;
  margin: 0 auto;
}

.reply__err {
  display: none;
}

.reply.err .reply__err {
  display: block;
}

.reply.err .reply__succes {
  display: none;
}

@media (min-width: 767.98px) {
  .social__link:hover svg {
    fill: rgba(255, 255, 255, 0.7);
  }

  .btn:hover {
    background-color: #2ce17f;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0px 0px 30px;
  }

  .header__social {
    margin: 0px 0px 0px auto;
  }

  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -100%;
    left: 0%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 0px 50px 0px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 48;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__body.scrolled {
    padding: 130px 0px 0px 0px;
  }

  .menu__list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__link {
    color: #000000;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .benefits__item_1 {
    top: 9%;
  }

  .benefits__item_4 {
    left: -10%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .menu__list li {
    margin: 0px 12px 0px 0px;
  }

  .no-webp .benefits__body{
    background-image: url(../img/benefits/bg-happy.png); }

  .benefits__body {
    background-size: contain;
  }

  .benefits__block {
    width: 100%;
  }

  .benefits__block_left {
    display: none;
  }

  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .benefits__item {
    position: relative;
    left: 0 !important;
    top: 0 !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: none !important;
  }

  .benefits__item_4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .benefits__item_6 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .ai-benefits__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ai-benefits__card {
    max-width: 450px;
    margin: 0px 0px 44px 0px;
  }

  .feedback__reply {
    padding: 45px 60px;
  }

  .feedback__subtitle {
    font-size: 30px;
  }

  .form {
    padding: 45px 60px;
  }
}

@media (max-width: 575px) {
  .hero__title {
    font-size: 40px;
  }
}

@media (max-width: 479.98px) {
  .header__social {
    margin: 0px 0px 0px 0px;
  }

  .menu__body {
    height: 100%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 20px 0px;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .social__link svg {
    fill: #000;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 168px;
    margin: 0px 0px 30px 0px;
  }

  .footer__desc {
    max-width: 296px;
    text-align: center;
  }

  .hero__cont {
    padding: 150px 0px 50px 0px;
  }

  .hero__desc {
    font-size: 15px;
  }

  .hero__scroll-down {
    display: none;
  }

  .benefits__item {
    font-size: 12px;
  }

  .benefits__item_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 94%;
            flex: 0 0 94%;
  }

  .feedback__reply {
    padding: 45px 25px;
  }

  .feedback__subtitle {
    font-size: 24px;
  }

  .form {
    padding: 45px 25px;
  }

  .form__input {
    font-size: 18px;
  }
}

.webp .hero{ background-image: url(../img/hero/hero-bg.webp); }

.webp .benefits__body{ background-image: url(../img/benefits/bg.webp); }

.webp .card-ai{ background-image: url(../img/rays.webp); }

.webp .card-ai__img{ background-image: url(../img/stars.webp); }

.webp .test-drive{ background-image: url(../img/test-drive/bg.webp); }

.webp .quiz{ background-image: url(../img/test-drive/bg.webp); }

.webp .feedback{ background-image: url(../img/feedback/bg.webp); }

.webp .reply{ background-image: url(../img/feedback/confetti.webp); }

@media (max-width: 767.98px){

  .webp .benefits__body{ background-image: url(../img/benefits/bg-happy.webp); }
}